@media only screen and (max-device-width : 480px) {
  .about {
    height: 100%;
    padding-bottom: 30px;
  }

  .about img {
    display: block;
    float: none;
    margin: auto;
    width: 70%;
  }

  h1 {
    font-size: 45px;
    padding-top: 30px;
    text-align: center;
  }

  p {
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
  }
}
